body{
    background: #c0392b;    
    color: #fff;
    letter-spacing: 2px;
    line-height: 25px;
}
.container{
    margin: 50px;
    padding: 20px;
    background: #e74c3c;
}
span{
    letter-spacing: 1px;
    margin-left: 20px;
}